<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>EventosApp</title>
</head>
<body>
    <h1>Cadastro de Eventos</h1>
    <form action="" method="post">
        Nome:<input type="text" name="nome">
        Local:<input type="text" name="local">
        Data:<input type="date" name="data">
        Horário:<input type="time" name="horario">
        <button type="submit">Salvar</button>
    </form>
</body>
</html>